# Daten vorbereiten

In [53]:
#!pip install sklearn

In [54]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Daten importieren und kennenlernen

In [55]:
dataset = pd.read_csv("data/dataset.csv")

In [56]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Land     10 non-null     object
 1   Alter    9 non-null      float64
 2   Gehalt   9 non-null      float64
 3   gekauft  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [57]:
dataset

           Land  Alter   Gehalt gekauft
0    Frankreich   44.0  72000.0    Nein
1  Griechenland   27.0  48000.0      Ja
2   Deutschland   30.0  54000.0    Nein
3  Griechenland   38.0  61000.0    Nein
4   Deutschland   40.0      NaN      Ja
5    Frankreich   35.0  58000.0      Ja
6  Griechenland    NaN  52000.0    Nein
7    Frankreich   48.0  79000.0      Ja
8   Deutschland   50.0  83000.0    Nein
9    Frankreich   37.0  67000.0      Ja

In [58]:
dataset.head()

           Land  Alter   Gehalt gekauft
0    Frankreich   44.0  72000.0    Nein
1  Griechenland   27.0  48000.0      Ja
2   Deutschland   30.0  54000.0    Nein
3  Griechenland   38.0  61000.0    Nein
4   Deutschland   40.0      NaN      Ja

## Featurematrix auswählen

Wir bestimmen das Set von unabhängigen Variablen.



Wir wählen mit `[:, :-1]` aus, dass wir alle Zeilen wollen (`[:, ...]`) und alle Spalten **ohne** die letzte (`[..., :-1]`).

In [59]:
X = dataset.iloc[:, :-1].values

In [60]:
print(X)

[['Frankreich' 44.0 72000.0]
 ['Griechenland' 27.0 48000.0]
 ['Deutschland' 30.0 54000.0]
 ['Griechenland' 38.0 61000.0]
 ['Deutschland' 40.0 nan]
 ['Frankreich' 35.0 58000.0]
 ['Griechenland' nan 52000.0]
 ['Frankreich' 48.0 79000.0]
 ['Deutschland' 50.0 83000.0]
 ['Frankreich' 37.0 67000.0]]

In [61]:
#X.info()

In [62]:
y = dataset.iloc[:, -1].values

In [63]:
print(y)

['Nein' 'Ja' 'Nein' 'Nein' 'Ja' 'Ja' 'Nein' 'Ja' 'Nein' 'Ja']

## Fehlende Daten berücksichtigen

In [64]:


from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [65]:
print(X)

[['Frankreich' 44.0 72000.0]
 ['Griechenland' 27.0 48000.0]
 ['Deutschland' 30.0 54000.0]
 ['Griechenland' 38.0 61000.0]
 ['Deutschland' 40.0 63777.77777777778]
 ['Frankreich' 35.0 58000.0]
 ['Griechenland' 38.77777777777778 52000.0]
 ['Frankreich' 48.0 79000.0]
 ['Deutschland' 50.0 83000.0]
 ['Frankreich' 37.0 67000.0]]

## Kategorien in den Daten kodieren

### Die unabhängigen Variablen kodieren (Länderspalte)

In [66]:

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [67]:
print(X)

[[0.0 1.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [1.0 0.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [1.0 0.0 0.0 40.0 63777.77777777778]
 [0.0 1.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [0.0 1.0 0.0 48.0 79000.0]
 [1.0 0.0 0.0 50.0 83000.0]
 [0.0 1.0 0.0 37.0 67000.0]]

### Die abhängige Variable kodieren

In [69]:


from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [70]:
print(y)

[1 0 1 1 0 0 1 0 1 0]

## Daten aufteilen in Training- und Testset

In [71]:


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)